<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">New Product</div>
          <div class="card-body">
            <form action="#" method="post" @submit.prevent="store">
              <div class="form-group">
                <label for="name">Nama</label>
                <input
                  type="text"
                  v-model="form.name"
                  id="name"
                  class="form-control"
                />
                <div v-if="theErrors.name" class="mt-2 text-danger">
                  {{ theErrors.name[0] }}
                </div>
              </div>

              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="text"
                  v-model="form.price"
                  id="price"
                  class="form-control"
                />
                <div v-if="theErrors.price" class="mt-2 text-danger">
                  {{ theErrors.price[0] }}
                </div>
              </div>

              <div class="form-group">
                <label for="description">Deskripsi</label>
                <textarea
                  type="text"
                  v-model="form.description"
                  id="description"
                  class="form-control"
                  rows="5"
                />
                <div v-if="theErrors.description" class="mt-2 text-danger">
                  {{ theErrors.description[0] }}
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        price: "",
        description: "",
      },
      products: [],
      theErrors: [],
    };
  },

  mounted() {
    this.getProducts();
  },

  methods: {
    async getProducts() {
      let response = await axios.get("/api/products");

      if (response.status === 200) {
        this.products = response.data.data;
      }
    },

    async store() {
      try {
        let response = await axios.post("/api/products", this.form);

        if (response.status == 200) {
          this.form.name = "";
          this.form.price = "";
          this.form.description = "";
          this.theErrors = [];

          this.$toasted.show("Data Produk berhasil diinput", {
            type: "success",
            duration: 3000,
          });

          this.$router.push("/product");
        }
      } catch (e) {
        this.theErrors = e.response.data.errors;

        this.$toasted.show("Ada sesuatu yang salah", {
          type: "errors",
          duration: 3000,
        });
      }
    },
  },
};
</script>

<style>
</style>