<template>
  <div class="container">
    <h1>{{ product.name }}</h1>
    <div class="div mb-5">
      <h2>Harga : {{ product.price }}</h2>
      <h2>Deskripsi : {{ product.description }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: [],
    };
  },

  mounted() {
    this.getProduct();
  },

  methods: {
    async getProduct() {
      let response = await axios.get("/api/products/" + this.$route.params.id);

      this.product = response.data.data;
    },
  },
};
</script>