<template>

    <table class="table" id="table-buku">
        <thead>
            <tr>
                <th>order From</th>

            </tr>
        </thead>
        <tbody>
            <tr  v-for="log in logs" :key="log.id">
            <td>{{log.log_name}}</td>
            </tr>
        </tbody>
        
    </table>



</template>

<script>
export default {

    data(){
        return{
            logs:[],
        }
        

    },

    mounted(){
     
            axios.get("/api/log").then(response=>{
            // console.log(response)

            this.logs=response.data;

            });

        
    },
  
        
    




};
</script>

<style>

</style>